@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap");

body {
  margin: 0;
  padding: 20px;
  background: url(/public/background-sloths.webp);
  background-attachment: fixed;
  min-width: 320px;
}

html {
  font-family: "Merriweather", serif;
}

button {
  border: none;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(16, 65, 10);
  color: rgb(255, 255, 255);
  width: 70%;
  font-size: 1.8rem;
}

label {
  font-size: 1.5rem;
  background-color: rgba(236, 196, 143, 0.9);
  color: rgb(16, 65, 10);
  font-weight: 700;
}

input {
  background-color: rgb(249, 236, 220);
  font-size: 2rem;
  border-radius: 5px;
}
